<ion-view view-title="Arrumo Seu PC">
  <ion-content>
 <!-- Caixa de texo, ordem serviço, Cliente, Contato, Telefone -->
 	 
    <label class="item item-input">
       <span class="input-label" size="1" maxlength="10">Ordem Serviço</span>
       <input type="text">
     </label>
     <label class="item item-input">
        <span class="input-label" size="10" maxlength="30">Cliente</span>
        <input type="text">
      </label>
      <label class="item item-input">
         <span class="input-label">Contato</span>
         <input type="text">
       </label>
       <label class="item item-input">
          <span class="input-label">Telefone</span>
          <input type="text">
        </label>
   <!-- checkBox -->
<ul class="list">

   <h4 align=center>Selecione os servicos necessários</h4 align=center>
      <li class="item item-checkbox"><label class="checkbox"><input type="checkbox">
      </label>Instalar Windows
      <li class="item item-checkbox"><label class="checkbox"><input type="checkbox">
      </label>Instalar Linux
      <li class="item item-checkbox"><label class="checkbox"><input type="checkbox">
     </label>Instalar Pacote Office
     <li class="item item-checkbox"><label class="checkbox"><input type="checkbox">
     </label>Congiguração de Servidor
     <li class="item item-checkbox"><label class="checkbox"><input type="checkbox">
     </label>Configuração de Internet/Wi-Fi/Rede

</ul>
        <!-- email -->
      <div class="list">
       <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Email">
          </label>
          <button class="button button-small">
            Submit
          </button>
         </div>
      </div>
  </ion-content>
</ion-view>
