<ion-view view-title="Arrumo Seu Pc">
  <ion-content>
  
  <!-- Caixa de texo, ordem serviço, Cliente, Contato, Telefone, Hora Chegada, hora Saida, Descrição -->
  	 
     <label class="item item-input">
        <span class="input-label" size="1" maxlength="10">Serviço</span>
        <input type="text">
      </label>
      <label class="item item-input">
         <span class="input-label" size="10" maxlength="30">Cliente</span>
         <input type="text">
       </label>
       <label class="item item-input">
          <span class="input-label">Contato</span>
          <input type="text">
        </label>
        <label class="item item-input">
           <span class="input-label">Telefone</span>
           <input type="text">
         </label>
         <label class="item item-input">
            <span class="input-label">Hora Chegada</span>
            <input type="text">
          </label>
          
          <label class="item item-input">
             <span class="input-label">Hora Saida</span>
             <input type="text">
           </label>
           <label class="item item-input">
              <span class="input-label">Descrição</span>
              <input type="text">
            </label>


         <!-- email -->
               <div class="list">
                 <div class="item item-input-inset">
                   <label class="item-input-wrapper">
                     <input type="text" placeholder="Email">
                   </label>
                   <button class="button button-small">
                     Submit
                   </button>
                 </div>
               </div>

  </ion-content>
</ion-view>
